*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e3f3c3;
}

.container{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 25%;
    height: 300px;
    transform-style: preserve-3d;
}

@media all and (max-width : 768px){
    .card{
        width: 50%;
    }
}

@media all and (max-width : 568px){
    .card{
        width: 100%;
    }
}

.card .face{
    border: 1px solid peru;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    /* transition: 2s ease-in-out; */
    cursor: pointer;
}

.card .face.front{
    background: #3ff;
}
.card .face.back p{
    width: 80%;
}

.card .face.back h2{
    width: 80%;
    text-align: center;
}

.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back{
    background: #3bc2ff;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back{
    transform: perspective(500px) rotateY(0deg);
}